
    <h3>Ajout du commentaire :</h3>
    <form method="post">
        <input type="text" name="texte" placeholder="Texte">
        <input type="email" name="mail" placeholder="Email">
        <input type="text" name="auteur" placeholder="Auteur">
        <input type="submit" value="Enregistrer les modifications">
    </form>

